<div id="contenedor">
  <div id="contenedor-tabla">
    <table id="tablero"></table>
    <div id="contenedor-dado">
      <div id="con-dado">
        <div class="espacio3D">
          <div class="cubo3D" id="cubo1">
            <div class="base"></div>
            <aside class="cara cara1">
              <canvas id="dado1" class="dado" width="300" height="300"></canvas>
            </aside>
            <aside class="cara cara2">
              <canvas id="dado2" class="dado" width="300" height="300"></canvas>
            </aside>
            <aside class="cara cara3">
              <canvas id="dado3" class="dado" width="300" height="300"></canvas>
            </aside>
            <aside class="cara cara4">
              <canvas id="dado4" class="dado" width="300" height="300"></canvas>
            </aside>
            <aside class="cara cara5">
              <canvas id="dado5" class="dado" width="300" height="300"></canvas>
            </aside>
            <aside class="cara cara6">
              <canvas id="dado6" class="dado" width="300" height="300"></canvas>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
